@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@200;300;500;600;700;800&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost&family=Playfair+Display:wght@400;500&family=Poppins:wght@500&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:root {
  --main-color: #0a9391;
  --dark: #043736;
  --light: #0fd7d4;
  --light2: #7cfffd;
  /* --background: linear-gradient(to right,#780206, #061161); */
  --background: linear-gradient(to right,#006663, #111111);
  --hero: linear-gradient(to right,#06dcd5, #111111);
}
/* :root {
  --main-color: #0a9391;
  --dark: #043736;
  --light: #0fd7d4;
  --light2: #7cfffd;
} */
:root{
  --padding-top: 180px;
  --margin: 0 180px;
}
.fade-in {
  opacity: 0;
  animation: fadeIn ease-in-out 1.5s;
}

@keyframes fadeIn {
  from {
     opacity: 0;
  }
  to {
     opacity: 1;
  }
}
@keyframes typing {
  from {
     width: 0;
  }
  to {
     width: 100%;
  }
}
@keyframes rotateGallery {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}